* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	margin: auto;
	margin-bottom: 50px;
	width: 90%;
}

#firewalls_wrapper {
	min-width: 1200px;
}

.logo {
	margin-bottom: 0;
	padding: 10px 0 0 10px;
	width: 15%;
	height: 15%;
}

a {
	text-decoration: none;
	color: #2f6a8a;
	transition: color 0.2s ease;
}
a:visited {
	color: #2f6a8a;
}
a:hover {
	color: #fa582d;
}

.toolbar {
	float: left;
	font-weight: 600;
	font-size: 1.3em;
	margin-bottom: 5px;
	margin-right: 20px;
}
.toolbar-title {
	margin-left: 30px;
}
.toolbar a:link {
	color: inherit;
}
.toolbar a:visited {
	color: inherit;
}
.toolbar a:hover {
	color: #fa582d;
}

#events {
	color: red;
	text-align: center;
	font-size: 1.2em;
	font-weight: 900;
	margin-bottom: 30px;
	margin-left: 10px;
}

#form {
	display: grid;
	grid-gap: .2em;
	grid-template-columns: 1.2fr 1.2fr .6fr;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: .5em;
	margin-right: .5em;
	min-width: 350px;
}
#username,
#password {
	height: 2.3em;
	padding-left: .3em;
	font-size: .8em;
}
#login {
	height: 2.3em;
	grid-column: 3;
	font-size: .8em;
}
#auth-event {
	grid-column: span 3;
	text-align: center;
	padding: 5px;
	padding-left: 20px;
}


/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-wrap: normal;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	margin: auto;
	padding: 0;
	padding-bottom: 1em;
	border: 1px solid #888;
	height: 100%;
	width: 85%;
	overflow-y: hidden;
	background-color: #fefefe;
}

.modal-content #header {
	top: 0;
	padding-right: 10px;
	padding-left: 5px;
	position: sticky;
	background-color: #fefefe;
	border-bottom: 1px solid rgba(170, 170, 170, 0.6);
}

.modal-content #results {
	font-family: "Roboto Mono", monospace;
	height: 97%;
	width: 100%;
	margin: auto;
	padding: 5em 10em 0 10em;
	white-space: pre-wrap;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

#results-filter {
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
	height: 40px;
}

#results-filter-input,
#results-filter-button {
	vertical-align: middle;
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

#results-filter-input {
	-webkit-appearance: none;
	padding-left: 5px;
	height: 28.233330px;
}


.modal-run-cmds__bg {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.modal-run-cmds__contents {
	position: relative;
	height: 400px;
	width: 600px;
	background-color: white;
	text-align: left;
	border-radius: 4px;
}

.modal-run-cmds__header {
	margin-bottom: 30px;
	padding-right: 10px;
	padding-bottom: 5px;
	background-color: #ddd;
	text-align: right;
	font-size: 35px;
	color: #333;
	border-bottom: 1px solid black;
}

.modal-run-cmds__close {
	cursor: pointer;
	color: white;
}

.modal-run-cmds__close:hover {
	color: #999;
}

.modal-run-cmds__label {
	margin-left: 30px;
	font-size: 1rem;
}

.modal-run-cmds__input {
	margin: 20px auto;
	display: block;
	width: 90%;
	height: 200px;
	padding: 8px;
	border: 1px solid gray;
	resize: none;
	font-size: 1rem;
}

.modal-run-cmds__button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 15px 15px 0;
}


/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#loading-progressbar {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 400px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
#loading-progressbar img {
	display: block;
	margin: auto;
	height: 55px;
	width: 400px;
	z-index: 0;
}

tr.dtrg-start td {
	padding: 4px !important;
	padding-left: 8px !important;
	text-align: left;
	font-size: .75em;
	font-weight: normal !important;
}
td {
	vertical-align: top;
	text-align: center;
}
td.notConnected {
	color: red;
}
.end-table-group td {
	padding: 0 !important;
	background-color: rgb(179, 179, 179) !important;
	height: 2px;
}

.hide {
	display: none;
}

.noscroll {
	overflow: hidden;
}

.searchInput {
	margin-top: 5px;
	height: 17px;
	border: 0;
	width: 65%;
}

.dt-buttons {
	float: right !important;
}
